[2022-03-14 03:01] unparalleled-ysj opened #7 "Are there plans to support tts?"
Great job, is there any plan to support tts?

[2022-03-14 03:17] Masao-Someki commented on #7
Yes, I'm planning to code for TTS after I supported currently unsupported ASR models, such as RNNDecoder.

[2022-03-20 00:06] #7 closed

[2022-04-03 09:52] miziworld opened #13 "Using by huggingface model"
Hello, this project looks very useful to me

Is it possible to use this project as a registered model on huggingface ( ASR model- VGGRNN) ?
If so, how should I use tag name or model_dir?

I have pth file trained on Espnet, can I convert pth model to onnx by using this project?

[2022-04-04 15:37] Masao-Someki commented on #13
Hi, @miziworld
Thank you for using this project!

About the `espnet.nets.pytorch_backend.rnn.VGG2L` model, it is not tested yet. I think the `VGG2L` model can be exported to onnx with the current code, but I will test it this weekend...
If the decoder and LM model are marked as supported in [this document](https://github.com/Masao-Someki/espnet_onnx/blob/master/doc/ASRSupported.md), then you can e

[2022-04-04 23:23] Masao-Someki commented on #13
Sorry, I misunderstood your question..

It is not possible. `export_from_pretrained` can only be used to export from `table.csv`.

Yes. Note that you need to create an instance of `espnet2.bin.asr_inference.Speech2Text` from your zip file, and need to use the `export` function.

I will check with the docker environment..

[2022-04-05 00:24] miziworld commented on #13
Thank you for your reply.
As I said, this feature is absolutely necessary for me, so I can only hope that the problem will be resolved soon.
I think the attn problem is related to pytorch or onnx rather than virtual environment problem. Can you tell me the environment you are using? (pytorch, venv, espnet, ...)

And if you find a solution, please share your answer. thank you

[2022-04-05 04:13] Masao-Someki commented on #13
I'm using the stable versions of PyTorch, espnet, and some other requirements. (I installed with `pip install torch espnet ...`) When I tested with your environment, I realized that model exportation with torch==1.10.1 could cause that error. I think upgrading your torch version to 1.11 can solve this problem. (In my environment, torch==1.10.1 cases that error, but torch==1.11.0 does not.)

Would

[2022-04-07 16:39] miziworld commented on #13
Thank you!
As you said, after converting the torch version 1.10.1 --> 1.11.0, it seemed to work fine.
After export, I got some files
  --- ~/.cache/espnet_onnx/kamo-naoyuki/timit_asr_train_asr_raw_word_valid.acc.ave/full/
 ------------|
-------------|_____ ctc.onnx, decoder.onnx, encoder.onnx, predecoder_0.onnx
Is this right?
And i have some questions.
1. When I use the quantizaiton option, which

[2022-04-09 05:48] Masao-Someki commented on #13
I'm glad it went well.

Yes, the model was exported correctly.

The quantization is applied to all layers applicable. In this repo, I used the default onnx quantization tool provided [here](https://github.com/microsoft/onnxruntime/blob/master/onnxruntime/python/tools/quantization/README.md). Since only `encoder`, `decoder`, `ctc`, `language model` in espnet will be converted to onnx and can be qua

[2022-04-19 13:44] miziworld commented on #13
Thank you so much for your kind and detailed reply.
1. However, the following Import Error occurred while executing the same code. There is no special environment change, how do I solve it?

![image](https://user-images.githubusercontent.com/17849068/164012412-b310df4f-18d6-4f3d-a6dd-a2b7a3e97ac8.png)

onnx. py is like this.
[code]
2. As you said, after decompressing the zip file of the RNNencoder

[2022-04-24 06:12] Masao-Someki commented on #13
Sorry, you need to install `onnx` additionally to use `ModelExport`. I completely forgot to note that `onnx` is required...
Could you install onnx and try again?

Your code is to create the instance of `espnet2.bin.asr_inference.Speech2Text`. You need to use that instance to export like the following.

[code]

[2022-04-24 20:26] gowtham1997 opened #17 "Support for transducer"
Thanks for creating this and simplifying onnx export.

1. Do you have a timeline for the transducer ASR model support?

[code]
^ I was trying to export a sample transducer checkpoint like this and was running into attribute errors at `espnet_onnx/export/asr/export_asr.py" _create_config function`.

2. Can you comment if the above snippet is correct? If I just provide None to attributes that dont e

[2022-04-25 14:13] Masao-Someki commented on #17
@gowtham1997
Thank you for using espnet_onnx!

I usually develop espnet_onnx on a whim, so there is no schedule. But I will implement transducer-related scripts this weekend! I planned to implement some scripts for TTS, so I think I can publish transducer support with some TTS support.

Your snippet is almost correct. Currently, the transducer is not supported, so the `speech2text` model should be

[2022-04-25 14:17] #17 closed

[2022-04-25 17:18] b-flo commented on #17
Please let me know when you merged the new transducer. I will support that new version then!

After discussion, the current Transducer version will stay so don't worry about working on it right now :)
If we add the new version, I'll try to take care of the export!

Thanks for the info! Hum, it shouldn't be an issue then, I'll take a look.

[2022-05-02 05:07] Masao-Someki commented on #17
Hi @gowtham1997,

I just merged the #19 and now you can convert the transducer model!
It is not published on pypi yet, but you can clone and export your model.

[2022-05-03 10:18] gowtham1997 commented on #17
Thanks again.
Will test it out

[2022-05-08 04:48] #13 closed

[2022-05-10 08:32] miziworld opened #22 "Decoding speed difference between before and after conversion"
Thank you for your always kind reply. Also, your research has really helped me a lot.

In general, the purpose of onnx conversion is to make the model lighter and get faster speed. Have you ever checked the difference in decoding speed before and after conversion onnx model conversion in the asr task? I would also like to know if there is also a difference in accuracy. It doesn't matter which mode

[2022-05-10 12:19] Masao-Someki commented on #22
Yes, I checked inference speed every time I implement the new model. Onnx model with RNN related models, such as RNNEncoder, decoder, or seqrnn-lm improves its inference speed very much. See comments in #10 for example!
However, transformer/conformer-based models will not improve their inference speed as the RNN models. It seems that the conversion script cannot optimize the Residual block, which

[2022-05-11 08:51] miziworld commented on #22
Thank you for reply.
1. Did you notice any speedup when testing conformer/transformer models?
2. Have you ever tried gpu decoding? In the original espnet, decoding takes longer when using gpu decoding, but I'm curious to see what the results are for this project.
3. Other than onnx conversion, have you ever tried increasing the inference speed of this asr model or compressing the model? I'm resear

[2022-05-11 14:48] Masao-Someki commented on #22
Hi @miziworld,

Yes, there is a little improvement in those models if you execute inference on the CPU. If you run inference on the GPU, then the torch version is the fastest. See #16 for example.

No, for now, I have never tried to optimize the original espnet models for inference.

[2022-05-12 09:23] unparalleled-ysj opened #23 "a small bug"
@Masao-Someki Hi, thank you very much for completing the onnx export of vits. After the test of my own training model, when I set cleaner=none, there was a small problem, and after solving everything works fine !
`File "/work/ysj/espnet_onnx/espnet_onnx/export/tts/get_config.py", line 46, in get_preprocess_config
    'cleaner_types': model.text_cleaner.cleaner_types[0]
IndexError: list index out o

[2022-05-12 09:28] unparalleled-ysj commented on #23
@Masao-Someki BTW, want to call the converted vits onnx model with C++, do you have any relevant examples can recommend?

[2022-05-12 11:41] Masao-Someki commented on #23
Hi @unparalleled-ysj,
Thank you for reporting the bug! I'm planning to refactor this project, so I will fix it in the next PR!

Sorry, I'm not familiar with C++, so I cannot give you examples for C++ implementation...
I think [this repository](https://github.com/microsoft/onnxruntime-inference-examples/tree/main/c_cxx) might help you how to use models from C++. The model input and output of the co

[2022-05-13 01:11] ly1984 opened #24 "Long sentence cause onnxruntime error"
First of all, thank you for you great work, I've converted the model to onnx successfully, but I found an issue ,When I synthesis a long sentence, will cause onnx runtime error.

Traceback (most recent call last):
  File "infer_onnx.py", line 39, in <module>
    wav = text2speech(text)["wav"]
  File "/opt/conda/lib/python3.8/site-packages/espnet_onnx/tts/tts_model.py", line 79, in __call__
    out

[2022-05-13 14:30] Masao-Someki commented on #24
Hi @ly1984, thank you for using `espnet_onnx`, and report the bug!

This is caused by the RelativePositionalEncoding. The maximum sequence length is currently set to 512, so you cannot synthesize sequences longer than 512.
The maximum length of OnnxPositionalEncoding is set in [this line](https://github.com/Masao-Someki/espnet_onnx/blob/a5e0882abe6eb471f68c6f111583e2c32e2b82e3/espnet_onnx/export/a

[2022-05-14 02:13] ly1984 commented on #24
Thank you for your quick response, I‘ve modified MAX_SEQ_LEN = 512 in espnet_onnx/utils/torch_function.py, everything works fine now.

[2022-05-14 03:17] Masao-Someki commented on #24
Oh, maybe I told you the wrong answer...
Good to hear that everything works fine!

[2022-05-14 03:17] #24 closed

[2022-05-14 09:01] ly1984 opened #25 "quantize model take very long time to synthesis"
I've test a sentence with these three models, the quantize model seems abnormal.

pytorch vits
infer time : 10.691850900650024
RTF = 0.349893

onnx vits
infer time : 4.495715618133545
RTF = 0.146124

onnx quantize vits
infer time : 83.49901461601257
RTF = 2.672614

[2022-05-14 13:58] Masao-Someki commented on #25
Thank you for reporting the issue.
I realized this, but I'm not sure why this happens.
So as a workaround, if you don't have to use the quantization version, please use the un-quantized onnx model.

[2022-05-17 09:39] #23 closed

[2022-05-29 07:17] #22 closed

[2022-06-09 18:34] Masao-Someki commented on #25
I found that converting the Conv module causes this problem.
I fixed this issue by limiting the nodes to quantize. Currently, only 'attention' and 'matmul' nodes will be quantized.
As a result, I got the following performance improvement.

- onnx vit (without quantize): 0.16759 sec
- onnx vit (quantized) : 0.12681 sec

[2022-06-13 14:03] sciai-ai opened #29 "Module not found error"
Hi, I am getting the following error

`from espnet_onnx.espnet_onnx.export import TTSModelExport
`

<img width="954" alt="image" src="https://user-images.githubusercontent.com/52277510/173371269-38b68cba-2ebd-4fa9-b0d2-19b7486dd7be.png">

[2022-06-13 15:35] Masao-Someki commented on #29
Hi, @sciai-ai, thank you for reporting the bug!!!

Sorry, I found that `__init__.py` is not in the `espnet_onnx.export.layers` directory...
I fixed the bug in [581eb2b](https://github.com/Masao-Someki/espnet_onnx/commit/581eb2b55e3282d57686145bce19ca2d93c111c0), and released the bug-fixed version(0.1.9)
You can use the bug-fixed version by re-installing from pip!

[2022-06-14 00:33] Masao-Someki commented on #29
You cannot export mbmelgan. The supported vocoders are listed [here](https://github.com/espnet/espnet/blob/fc62b1ce3e50c5ef8a2ac8cedb0d92ac41df54ca/espnet2/gan_tts/joint/joint_text2wav.py#L46-L51). If you want to convert your custom model, what you have to do is:
1. clone this repository
2. install requirements listed in `requirements_export.txt`
3. create `espnet_onnx.export.tts.models.vocoders.<

[2022-06-14 05:43] sciai-ai commented on #29
@Masao-Someki Thanks, I will try the steps you mentioned.

I also tried with pretained StyleMelgan_v2, but gets  the same error. Are all the supported vocoders trained with joint text2wav?

[2022-06-14 13:58] Masao-Someki commented on #29
@sciai-ai

Currently, yes. However, you can create a new JointText2Wav instance for exportation. You can set pretrained tacotron2 as text2mel and pretrained pwgvocoder as a vocoder. I've never tested this before, but I think you can export and use it for inference in this way.

Yes. Please check that the `vocoder_type` in config.yaml is set to `not_used` so that the espnet_onnx will not build voco

[2022-06-15 03:34] sciai-ai commented on #29
@Masao-Someki

I tried this approach, I noticed a few issues

1. Text2Speech.from_pretrained ignores my arguments, such as min len ration, attn constraint. I have used these parameters in default espnet and they impact the output. Can you please check if the parameters are not ignored in your code?
`Text2Speech.from_pretrained(model_file=model_path,vocoder_file=vocoder_path,

[2022-06-15 12:33] Masao-Someki commented on #29
Text2Speech.from_pretrained(model_file=model_path,vocoder_file=vocoder_path, train_config=train_config,vocoder_config=vocoder_config, device=device_type, threshold=0.5, minlenratio=0.0, maxlenratio=20.0, use_att_constraint=True, backward_window=3, forward_window=7)

Sorry, I commented out the script related to `use_att_constraint` when debugging, and I completely forgot to check and implement thos

[2022-06-15 14:33] sciai-ai commented on #29
Can you advice me how to check this, The only parameter I changed was `device_type='cuda'` in Text2Speech  but still get the error

[2022-06-15 14:39] Masao-Someki commented on #29
When you try to export your model, you have to set `device_type='cpu'`.
You can use your GPU with `onnxruntime-gpu`. Please refer to [How to use GPU on espnet_onnx](https://github.com/Masao-Someki/espnet_onnx#how-to-use-gpu-on-espnet_onnx)

[2022-06-15 14:59] sciai-ai commented on #29
Sorry i didn't understand, i use gpu because i want to do gpu inference with onnxruntim_gpu installed.

[2022-06-15 15:24] Masao-Someki commented on #29
Could you provide a snippet for reproduction?
I don't get the same problem, so I want to see your code..

[2022-06-15 15:46] sciai-ai commented on #29
[code]

[2022-06-15 16:10] sciai-ai commented on #29
I changed this and now the gput-onnx time is ~4.73 seconds, still much slower than gpu inference.

This is ok because if the normalization is not set properly the synthesiexed speech quality is very bad. In mycase it sounds good. Here is config file

<img width="397" alt="image" src="https://user-images.githubusercontent.com/52277510/173874839-6e045de1-b731-4989-9092-eff968bf23a2.png">

[2022-06-15 16:33] Masao-Someki commented on #29
I'm not sure in detail, but the first inference of the onnx model after loading the model takes quite a long time.
I think you can get faster performance after the first inference.

[code]

I got the long silence problem with the quantized version...
I will investigate this, but please let me know if you found some weird thing..

[2022-06-15 16:35] sciai-ai commented on #29
Let's focus on the non quantized version first, I tried many inferences, its still much slower than normal gpu inference. I think onnx gpu should be much faster than gpu inference?

[2022-06-16 12:21] Masao-Someki commented on #29
@sciai-ai
I tested with torch and onnx with GPU. As you said, I found that the execution time for the onnx version is slower than the torch version...
The length of the text is 175.

- torch GPU : 0.62479 sec
- onnx GPU : 0.86348 sec

I guess that the number of Conv module would do something with this problem, but I have to investigate more about this problem..

[2022-06-19 09:46] sciai-ai commented on #29
Hmm, do you observe the same problem for fastspeech2 as well?

How about converting onnx/pytorch to tensorrt?

[2022-06-19 12:56] Masao-Someki commented on #29
I tested with fastspeech2 (`text='hello world'`) and I found that the performance was improved.
- torch: 0.08298 sec
- onnx: 0.03790 sec

I've never convert models to tensorrt, so I'm not sure about this...

[2022-06-19 14:50] sciai-ai commented on #29
is this based on GPU?

[2022-06-19 15:48] Masao-Someki commented on #29
I tested again and got the following result.
- torch: 0.00797 sec
- onnx: 0.037399 sec

It seems that the depthwise convolution is slow in fp32 on GPU. This might be the reason for this bad performance...

[2022-06-19 18:20] sciai-ai commented on #29
Is this fasrspeech2? Torch is 10 times faster than your last result?

[2022-06-20 11:35] Masao-Someki commented on #29
The performance of onnx tts depends on what module you used in your model.
I've never experienced this kind of performance degradation with ASR models, so I think the cause is related to the number of conv modules..

[2022-06-20 11:37] sciai-ai commented on #29
How about the performance for VITS?

[2022-06-20 13:18] Jackiexiao opened #30 "why we need text_length in fastspeech2"
Hi, thx for developing this repo

I am confused about `text_length` in the code below, why we need `text_length` in fastspeech2? Isn't text tensor enough?

https://github.com/Masao-Someki/espnet_onnx/blob/8bb9d7798b3b52b3b04c966a978d35c036c70ed7/espnet_onnx/export/tts/models/tts_models/fastspeech2.py#L136-L144

https://github.com/Masao-Someki/espnet_onnx/blob/8bb9d7798b3b52b3b04c966a978d35c036c70e

[2022-06-20 13:25] Masao-Someki commented on #30
Hi, thank you for reporting the issue!
I didn't realize this... You are right, we don't need `text_length`.
I will fix this in the next tts PR!

[2022-06-20 13:26] #25 closed

[2022-06-20 13:26] #30 closed

[2022-06-22 07:47] unparalleled-ysj opened #31 "about JETS"
espnet2-tts already supports end-to-end model jets, do you have any plans to support jets to onnx?  I think with experience with fastspeech2 and hifigan, this will be done very quickly

[2022-06-24 09:55] unparalleled-ysj commented on #23
The bug still exists because model.text_cleaner is an address while text_cleaner=None

`def get_preprocess_config(model, path):
    ret = {}
    if model.text_cleaner is not None:
        ret.update({'text_cleaner': {
                'cleaner_types': model.text_cleaner.cleaner_types[0]
        }})
    else:
        ret.update({'text_cleaner': None})

    ret.update({'tokenizer': get_tokenizer_conf

[2022-06-24 10:09] unparalleled-ysj opened #32 "v0.1.9 bug"
When I tested the demo of ljspeech, I encountered the following problems

`Traceback (most recent call last):
  File "export2onnx.py", line 6, in <module>
    m.export_from_pretrained(tag_name)
  File "/work/ysj/espnet_onnx/espnet_onnx/export/tts/export_tts.py", line 109, in export_from_pretrained
    self.export(model, tag_name, quantize)
  File "/work/ysj/espnet_onnx/espnet_onnx/export/tts/expor

[2022-06-24 10:18] unparalleled-ysj commented on #32
Yes, the bug is related to the pytorch version

[2022-06-24 10:18] #32 closed

[2022-06-24 12:09] Masao-Someki commented on #23
Thank you!
I realized that I need to change the following part to `if clearner_config is not None`
I'm planning to fix some bugs related to TTS this weekend, so I will fix this part with it!
https://github.com/Masao-Someki/espnet_onnx/blob/8bb9d7798b3b52b3b04c966a978d35c036c70ed7/espnet_onnx/tts/model/preprocess/common_processor.py#L12-L15

[2022-06-26 17:57] #31 closed

[2022-06-28 03:25] unparalleled-ysj opened #34 "vits inference bug"
@Masao-Someki I encountered an error when inferring vits using the latest version
Traceback (most recent call last):
  File "export2onnx.py", line 21, in <module>
    output_dict = tts("hello how are you")
  File "/work/espnet_onnx/espnet_onnx/tts/tts_model.py", line 86, in __call__
    output_dict = self.tts_model(text, **options)
  File "/work/espnet_onnx/espnet_onnx/tts/model/tts_models/vits.py

[2022-06-28 03:34] unparalleled-ysj commented on #34
Sorry I didn't re-export the vits model with the new version, the bug is related to the deletion of the text_length parameter

[2022-06-28 03:34] #34 closed

[2022-06-28 06:47] unparalleled-ysj commented on #24
@Masao-Someki When I use vits onnx model I had the same problem, I am using the latest version espnet_onnx, It seems that it is not a problem that the sequence length exceeds 512,  same text, jets everything works fine

**after convert token to id , len(text_ints) is 231 !**
2022-06-28 14:37:45.460635020 [E:onnxruntime:, sequential_executor.cc:364 Execute] Non-zero status code returned while runni

[2022-06-28 12:31] Masao-Someki commented on #24
@unparalleled-ysj
Am I correct that you have the following problems?
- You cannot execute inference the sequence longer than 512 in VITS. And you can infer with JETS, with the same text?
- In VITS, the sequence length after `tokenizer.text2tokens` is too short.

[2022-06-28 13:28] unparalleled-ysj commented on #24
Hi @Masao-Someki  As I said above that I inference the sequence which has len(token_ints) is 231 in VITS encounter error but in JETS everything works fine. So I think it seems not a problem that the sequence length exceeds 512 result in

[2022-06-28 13:45] Masao-Someki commented on #24
Hi @unparalleled-ysj, I encountered the same bug with a sequence length is like 100 - 200.
I found that the following line causes this problem!
When we set `max_seq_len = 1024` and `make_pad_mask` assume that the maximum sequence length is 1024. However, in this line, the value of `y_lengths` is going to be the output length of wav, which is usually larger than `max_seq_len` when the input sequenc

[2022-07-06 09:38] ken57 opened #36 "A difference in accuracy between a onnx model and a torch model."
Thanks for developing this repo.

I tested espnet_onnx by using CSJ corpus.
There was a difference in accuracy between a onnx model and a torch model.

I describe how I tested the onnx model by using CSJ corpus.
I converted the CSJ torch model (https://zenodo.org/record/4037458#.YsVJT-zP30o) to the onnx model by using a script shown below.

[code]

I transcribed CSJ eval sets with the onnx model b

[2022-07-06 15:59] Masao-Someki commented on #36
Hi @ken57, thank you for reporting the issue!
Would you run the scoring script with the torch version on your machine, and check if you still get the accuracy problem?
I checked that the outputs from TransformerEncoder, TransformerDecoder, and SeqRNNLM model are almost the same as the torch version. Though I couldn't check with the csj, but when I tested with test-clean of libri100, I didn't get t

[2022-07-08 11:30] Masao-Someki commented on #36
@ken57 Could you show me the `config.yaml`?
The file is located in `~/.cache/espnet_onnx/kan-bayashi/csj_asr_...`
I want to check the value of `ctc_weight` and `lm_weight` is correct.

[2022-07-08 11:37] ken57 commented on #36
Here it is.
[code]

[2022-07-08 11:40] Masao-Someki commented on #36
@ken57 Thank you!
I see that the weights are different.
Could you correct these values and check if you still have the accuracy loss?
I think I have to add some functionality to handle these configurations...

[code]

[2022-07-09 05:39] ken57 commented on #36
I modified `~/.cache/espnet_onnx/kan-bayashi/csj_asr_train_asr_transformer_raw_char_sp_valid.acc.ave/config.yaml` as shown below.
[code]

I transcibed csj test sets by the onnx model and obtained results shown below.
[code]

[2022-07-09 10:44] ken57 commented on #36
The issue was resolved.
Thank you for your kind support.

[2022-07-09 10:44] #36 closed

[2022-07-09 13:25] #29 closed

[2022-07-11 08:36] unparalleled-ysj opened #37 "xvector-vits conversion error"
Hi @Masao-Someki , have you tried converting xvector-vits to onnx ? when I try to do this, I run into this problem:

/root/anaconda3/envs/espnet/lib/python3.7/site-packages/torch/onnx/symbolic_helper.py:719: UserWarning: allowzero=0 by default. In order to honor zero value in shape use allowzero=1
  warnings.warn("allowzero=0 by default. In order to honor zero value in shape use allowzero=1")
WARN

[2022-07-11 10:33] Masao-Someki commented on #37
@unparalleled-ysj
Could you tell me the package versions? The result of the `pip list` is enough.
`onnx==1.12.0` might cause this error... If you use v1.12.0, would you check it with v1.11.0?

[2022-07-11 10:35] unparalleled-ysj commented on #37
I use onnx==1.11.0

[2022-07-11 10:45] Masao-Someki commented on #37
Hmm...
Sorry, I have never tried xvector-vits before. I think there might be a bug somewhere in `spemb` exportation. Currently, I don't have much time to further investigate on this, so is it okay to debug this weekend?

[2022-07-11 10:52] unparalleled-ysj commented on #37
of cause, thank you for your support！

[2022-07-11 15:29] ken57 opened #38 "A difference in accuracy between a onnx conformer model and a torch conformer model."
Sorry to bother you again.

I tested the conformer model of espnet_onnx by using CSJ corpus.
There was a difference in accuracy between a onnx conformer model and a torch conformer model.

I describe how I tested the conformer model of espnet_onnx by using CSJ corpus.
I downloaded the CSJ torch conformer model ( https://zenodo.org/record/4065140#.YsurAezP30o ), and converted it to the onnx model b

[2022-07-12 02:34] unparalleled-ysj commented on #37
@Masao-Someki Hi, I tried to debug by myself and found that the problem occurs in [https://github.com/Masao-Someki/espnet_onnx/blob/a2921fc2bd42ce468994dac49fa610729b056623/espnet_onnx/export/tts/models/tts_models/vits.py#L105](F.normalize()), when I removed the normalize operation, the xvector-vits model was successfully exported. So are we going to implement a normalize operation ourselves?

[2022-07-12 10:56] Masao-Someki commented on #37
@unparalleled-ysj
Thank you!
I see that the `eps` for the `F.noramlize` in `1e-12`, which I think is too small. In espnet_onnx, I set `-10000.0` as the minimum value when computing some operations like softmax.
I'm not testing this, but maybe this could be the cause of the exception?

[2022-07-12 11:11] Masao-Someki commented on #38
Hi @ken57, thank you for reporting the issue.
Considering the transformer model worked nicely, I think there might be some inaccurate codes in conformed-related scripts...
Currently, I don't have much time to work on this, so is it okay to debug this weekend?

[2022-07-12 12:21] ken57 commented on #38
Of cause.
Thank you for your kind support.

[2022-07-13 02:52] unparalleled-ysj commented on #37
@Masao-Someki Actually, F.normalize is not imported in https://github.com/Masao-Someki/espnet_onnx/blob/a2921fc2bd42ce468994dac49fa610729b056623/espnet_onnx/export/tts/models/tts_models/vits.py#L105 , so I changed it to nn.functional.normalize,  eps=1e-12 and eps=-10000.0 I have tried both, but there will cause the exception.

[2022-07-13 06:37] unparalleled-ysj commented on #37
After ablation experiments, it was finally determined that the clamp_min(eps) operation in F.noramilize caused floating point exception

def normalize(input: Tensor, p: float = 2.0, dim: int = 1, eps: float = 1e-12, out: Optional[Tensor] = None) -> Tensor:
    r"""Performs :math:`L_p` normalization of inputs over specified dimension.

    For a tensor :attr:`input` of sizes :math:`(n_0, ..., n_{di

[2022-07-14 14:32] Masao-Someki commented on #37
@unparalleled-ysj Thank you for the information!
And I realized that I told you some super weird thing about eps... :scream:

When the exported model does not use its input while inference about the input names, that input would be removed.
So I think that even the `spemb` is defined in `get_input_names` and `get_dummy_input`, it is not used in the model inference.
I used `spk_embed_dim` to define

[2022-07-14 17:36] weirdseed opened #39 "(bug)[ONNXRuntimeError] : 2 : INVALID_ARGUMENT"
Error:

  File "D:\recognition\espnet\esp2onnx\espnet_onnx\asr\model\decoders\xformer.py", line 84, in batch_score
    input_dict
  File "D:\recognition\espnet\esp2onnx\espnet_onnx\asr\beam_search\batch_beam_search.py", line 136, in score_full
    scores[k], states[k] = d.batch_score(hyp.yseq, hyp.states[k], x)
  File "D:\recognition\espnet\esp2onnx\espnet_onnx\asr\beam_search\batch_beam_search.py

[2022-07-15 02:01] unparalleled-ysj commented on #37
According to your suggestion, I tried it and it doesn't work,  and I think even if spk_embed_dim  define whether the model uses spemb or no, in this line , spembs  has been used during model inference.
https://github.com/Masao-Someki/espnet_onnx/blob/a2921fc2bd42ce468994dac49fa610729b056623/espnet_onnx/export/tts/models/tts_models/vits.py#L106

Strangely, even though onnx_model.get_inputs() is ['t

[2022-07-15 02:05] unparalleled-ysj commented on #39
@weirdseed try onnx==1.11..0

[2022-07-15 03:38] weirdseed commented on #39
Thanks a lot!
I solved the problem after reinstalling all my packages.

[2022-07-15 03:38] #39 closed

[2022-07-17 13:27] Masao-Someki commented on #38
Hi @ken57, after some investigation, I found that there seems to be a problem with the legacy version of multi-head attention with relative positional encoding. I've added a parity check for the exported model, but the difference between the original model and the exported one is pretty larger than the latest version of RelPosAttention. I think this difference causes the accuracy loss.
Currently,

[2022-07-18 02:22] unparalleled-ysj commented on #37
Bug solved, thank you @Masao-Someki  for your support

[2022-07-18 02:22] #37 closed

[2022-07-18 15:52] ken57 commented on #38
Thank you for your kind notice.
I'll be waiting for the updates.

[2022-07-25 07:15] pengaoao opened #41 "Conformer-RNN Transducer model export onnx error"
when i use https://github.com/espnet/espnet/tree/v.202205/egs2/librispeech/asr1
the Conformer-RNN Transducer model
date: Fri Mar 25 04:35:42 EDT 2022
python version: 3.9.5 (default, Jun 4 2021, 12:28:51) [GCC 7.5.0]
espnet version: espnet 0.10.7a1
pytorch version: pytorch 1.8.1+cu111
Git hash: 21d19be00089678ca27f7fce474ef8d787689512
Commit date: Wed Mar 16 08:06:52 2022 -0400
ASR config: [conf/tr

[2022-07-26 12:19] Masao-Someki commented on #41
Hi @pengaoao, thank you for the issue.
I realize that we need to add an `if` sentence in the line to avoid the `ctc=None` case.
I'm planning to release a new version this weekend, so I will fix and include this in the release!

[2022-08-25 08:43] yangyi0818 opened #42 "Decoding speed and accuracy on the transformed onnx model"
Hi, thanks for you share of the espnet_onnx system!

I met two problems when I tried to inference thorough your codes. My acoustic model is trained by myself on our own dataset. The AM architecture is the typical Conformer. I downloaded this code on June.

First, the decoding speed is too slow by it. When using torch to decode, the RTF is around 2.32; however it becomes around 20 when using the tr

[2022-08-27 10:45] #41 closed

[2022-08-27 10:57] Masao-Someki commented on #42
Hi @yangyi0818, Thank you for reporting the issue!
About the first point, I would like to know the following information:
- What is your device? CPU or GPU?
- Am I right that your model was constructed with Conformer encoder and Transformer decoder?
- Did you use LM for the inference?
- There are two Conformer blocks in ESPnet, the legacy and the latest versions. Which block did you use?
- I see q

[2022-08-28 14:17] yangyi0818 commented on #42
Hi @Masao-Someki ! Thank you for your kind reply!
Here are my answers.

About the first point:

**What is your device? CPU or GPU?**
CPU

**Am I right that your model was constructed with Conformer encoder and Transformer decoder?**
Yes.

**Did you use LM for the inference?**
Yes. It is a transformer structured LM.

**There are two Conformer blocks in ESPnet, the legacy and the latest versions. Wh

[2022-08-28 15:03] Masao-Someki commented on #42
Thank you!
About the RTF, it may be a problem with the frontend process.
If you are using the default frontend, which contains stft and logmel, is it possible to check the performance difference between the torch frontend and the onnx frontend?
I recently found a little speed down in espnet_onnx's frontend compared to the ESPnet version. Now I'm considering converting this whole process into onnx.

[2022-08-30 02:29] rookie0607 commented on #42
What is your torch version?

[2022-08-30 02:36] yangyi0818 commented on #42
HI @rookie0607
my torch version is 1.7.1 and onnx version is 1.7.0

[2022-08-30 08:19] b-flo opened #44 "[Feature request] ESPnet2 standalone Transducer"
Hi Masao!

I was wondering if you could consider adding support for the standalone version of ESPnet2 Transducer? See [the doc](https://espnet.github.io/espnet/espnet2_tutorial.html#transducer-asr).
I'm quite interested in ONNX but I have too much at hands right now to work on this project... I can help on the code understanding or similar things though.

[2022-08-31 09:01] joazoa commented on #42
In relation to the slow speed, can you check how many cores are loaded when you try to inference with onnx as i suspect it could be related?
@Masao-Someki  I  notice that all cpu cores are in use when i try to do cpu inference. Is there a way to avoid this other than setting tasksel 1 ?
I tried export OMP_NUM_THREADS=1 but no luck.

[2022-08-31 11:59] Masao-Someki commented on #44
Hi @b-flo, thank you!
Am I right that the new version of the transducer is implemented in `espnet2/asr_transducer`?
Also, I will try to support streaming inference with transducer models with that version!

[2022-08-31 12:05] Masao-Someki commented on #42
@joazoa
You can limit the number of threads with the following options:
- `inter_op_num_threads = 1`
- `intra_op_num_threads = 1`

Currently, there is no script to limit the number of threads in `espnet_onnx`, so you may need to modify inference codes like this:

[code]

[2022-08-31 12:09] joazoa commented on #44
@Masao-Someki  yes, the standalone version is implemented there.  (I am using it)

[2022-08-31 12:10] joazoa commented on #42
@Masao-Someki  thank you!

[2022-08-31 12:45] b-flo commented on #44
These files implement the standalone version:

- `espnet2/asr_transducer/*`
- `espnet2/tasks/asr_transducer.py`
- `espnet2/bin/asr_transducer_{inference,train}.py`

Dependency with ESPnet1 is minimal, only core modules related to ASR tasks and training utilities are used here.

Note that we rely on a unified online/offline architecture compared to other models depending on offline + contextual blo

[2022-09-08 07:21] pengaoao opened #45 "only support batch_size=1 onnx export? it seems wrong when export muilt batch with different lengths"

[2022-09-10 03:04] Masao-Someki commented on #45
@pengaoao
Yes, espnet_onnx supports only `batch_size=1`.

[2022-09-20 07:52] unparalleled-ysj opened #47 "The bug caused by torch version"
@Masao-Someki Hi Masao, I found a bug, when I use the 1.11.0 version of torch to export the vits model, everything works fine, but when I upgrade the torch version to 1.12.1 (required by torchaudio), I get a core dump when exporting the vits.
Can you reproduce this bug ?   BTW,  everything works fine when export jets model using torch version 1.12.1

Warning: Constant folding - Only steps=1 can be

[2022-09-20 10:18] ahazned opened #48 "HiFiGAN vocoder support in TTS"
Hi,

Supported vocoders include HiFiGAN in https://github.com/espnet/espnet_onnx/blob/master/docs/TTSSupported.md, but in the code HiFiGAN seems to be not supported in the vocoder loader function below.

Any idea how to use the HiFiGAN vocoder? I am also attaching the config.yaml file that TTSModelExport  created -> [config.yaml](https://github.com/espnet/espnet_onnx/files/9606489/config.yaml.txt)

[2022-09-23 07:55] yuekaizhang opened #49 "ASR onnx export accuracy drop"
Hi, I was wondering if you test the accuracy using espnet onnx. I have encountered accuracy drop issue from ~5% wer to 12% wer after using onnx. Just wondering if anyone encounter the same issue.

[2022-09-23 19:05] sw005320 commented on #49
Which models are you using?
Unfortunately, this porting requires manual implementation, and degradations would happen due to this.

In addition, to debug all functions, we are also trying to implement a test to cover many functions to produce the same results.

[2022-09-24 04:01] Masao-Someki commented on #48
Hi @ahazned,
HiFiGAN is included in vocoder_type == 'OnnxVocoder'.
ParallelWaveGAN, MelGAN, and HiFiGAN can be converted into one onnx model, and we load it from [here](https://github.com/espnet/espnet_onnx/blob/eb93c762d20c9b9c6c5d72ab1a0d56f07fa40b88/espnet_onnx/tts/model/vocoders/vocoder.py)
Since we do not need to separate the inference class, the loader function  do not separate HiFiGAN.

[2022-09-24 04:15] Masao-Someki commented on #47
Thank you @unparalleled-ysj,
I tested with torch==1.12 and I could reproduce this bug.
I found that only the VITS model cause this bug, and other models would work well.
It seems that there are some differences in onnx exportation between 1.11 and 1.12, so maybe it is the reason for this bug.
We will check deeper into the version problem..

[2022-09-24 04:15] #45 closed

[2022-09-24 04:25] #48 closed

[2022-09-26 02:17] yuekaizhang commented on #49
Hi Shinji, I am using aishell model from https://zenodo.org/record/4105763#.YzELWtJBxAJ. I have found that the issue may be caused by the Legacy Relpos attention layer, which gave me different results between onnx and .pt model file.

[2022-09-26 08:09] sw005320 commented on #49
Thanks!
@Masao-Someki, can you take a look at the model?

[2022-09-26 14:36] Masao-Someki commented on #49
Hi @yuekaizhang, thank you for reporting the issue!
I recently found that the current beam search implementation of espnet_onnx might cause a large accuracy loss, and this case might be caused by this bug in beam search...
The parity issue of legacy conformer is not solved yet, but I think it is not the main reason for such a large accuracy drop.
I will fix this issue as soon as possible.
I think

[2022-09-28 08:37] pengaoao commented on #38
I Met the same problem, I export the model https://zenodo.org/record/4105763#.X40xe2j7QUE, I test the onnx cer is 11.7,  while the torch infer cer is 4.7

[2022-09-28 08:39] pengaoao commented on #36
Hello, I met the same problem, so how u solve the problem at last?  the config.yaml difference?

[2022-09-28 09:13] pengaoao commented on #49
I am  exporting the same model, the onnx cer is 11.7%, while the torch infer cer is 4.7%

[2022-10-01 10:34] robinhad opened #50 "Dynamic input for TTS"
Hi, thanks for your work on great project!

I tried exporting as specified in example:

[code]
Then I tried to use model:
[code]

But I get the following message:
[code]
I believe it's because inputs are fixed.
I can try to fix this, but maybe do you know how to handle that?

[2022-10-01 11:30] Masao-Someki commented on #50
Hi @robinhad, you can try adding max_length larger than 712 as following:

[code]

[2022-10-01 12:05] robinhad commented on #50
Thanks a lot!

[2022-10-01 12:05] #50 closed

[2022-10-08 01:22] pengaoao commented on #49
@Masao-Someki   Could you plz look at this model?

[2022-10-09 06:30] Masao-Someki commented on #49
@yuekaizhang @pengaoao
I'm sorry for the late replay, I fixed the beam_search-related bug.
Would you check the accuracy with the latest espnet_onnx?
Note that `ctc_weight=0.3` in the model, so please check your configuration file in `~/.cache/espnet_onnx/<tag_name>/config.yml`.
`ctc_weight` is written at the bottom of the file.

[2022-10-09 07:00] pengaoao commented on #49
thanks, Im trying to test on the aishell, there is something wrong

2022-10-09 02:24:56.152717163 [W:onnxruntime:, execution_frame.cc:812 VerifyOutputSizes] Expected shape from model of {1,24} does not match actual shape of {1,108} for output encoder_out_lens
2022-10-09 02:24:56.305905698 [W:onnxruntime:, execution_frame.cc:812 VerifyOutputSizes] Expected shape from model of {1,2,256} does not mat

[2022-10-09 08:09] pengaoao commented on #49
I change the torch version to 1.12, the error disappear, I m testing the acc

[2022-10-09 10:28] pengaoao commented on #49
I test on 3000 files with ctc_weight=0.3, the cer is 14%, the problem seems not be solved

[2022-10-16 04:51] Masao-Someki commented on #49
@pengaoao
Thank you for reporting, I investigated bugs and found that there is a parity issue with TransformerDecoder.
I fixed it in #52, and got the same result sentence with some sample wav files from aishell.
Sorry for taking your time again, but would you test again?

[2022-10-18 11:17] espnetUser opened #57 "AttributeError: 'ContextualBlockXformerEncoder' object has no attribute 'get_frontend_config'"
Hi,

First, thanks a lot for your work on onnx conversion of espnet models!

I am trying to convert a streaming Conformer-Transformer model (encoder: contextual_block_conformer, decoder: transformer) from espnet2 to onnx format.
It is not a pretrained espnet_zoo model but I trained it on my own data.

My call is this:
[code]

I am getting the following error:
[code]
I also tried converting two pre

[2022-10-31 07:42] pengaoao opened #58 "Infer rnnt onnx wrong"
the pretrained model got from
https://github.com/espnet/espnet/tree/master/egs2/librispeech/asr1
Conformer-RNN Transducer
Environments
date: Wed Apr 27 09:30:57 EDT 2022
python version: 3.8.5 (default, Sep 4 2020, 07:30:14) [GCC 7.3.0]
espnet version: espnet 0.10.7a1
pytorch version: pytorch 1.8.1+cu102
Git hash: 21d19be00089678ca27f7fce474ef8d787689512
Commit date: Wed Mar 16 08:06:52 2022 -0400

[2022-10-31 08:48] sciai-ai opened #59 "max_seq_length not working for fastspeech2"
@Masao-Someki I tried changing the max_seq_length for fastspeech2, but it  gives error

<img width="910" alt="image" src="https://user-images.githubusercontent.com/52277510/198968158-c479d300-2f1e-432c-8f93-d826e0b805b5.png">

I used the command while exporting and only changed the tag name

[code]

If i use the command with vits, it works well. Can you please check

[2022-11-04 03:39] Ht-zhang-xianyu opened #60 "Can not import "TTSModelExport""
Hello, I follow the tutorial for installation on colab.
But I can import the TTSModelExport successfully.
The running example can be show as follow
![image](https://user-images.githubusercontent.com/18345131/199880229-f68b3175-76f0-4a0c-99f2-09c9692d9519.png)

[2022-11-09 03:59] Masao-Someki commented on #57
@espnetUser Sorry for the late replay, I think we need to remove `self` from [this line](https://github.com/espnet/espnet_onnx/blob/d70b85d64f26092bd2e040a44977687d806d2f59/espnet_onnx/export/asr/models/encoders/contextual_block_xformer.py#L180)
If you don't mind, would you fix this and create a PR?

[2022-11-09 04:21] Masao-Someki commented on #58
@pengaoao Thank you for reporting the issue.
You are correct, I think we need to add `if` sentence here to avoid state=None case.

[2022-11-09 04:27] Masao-Someki commented on #59
@sciai-ai
Thank you, I did't realize that we still have hard-coded script for MakePadMask..
We just need to fix [here](https://github.com/espnet/espnet_onnx/blob/d70b85d64f26092bd2e040a44977687d806d2f59/espnet_onnx/export/tts/models/tts_models/fastspeech2.py#L26) and everything would work for fastspeech2.
I found similar problem in tacotron2, so we need to fix that as well

[2022-11-09 04:28] Masao-Someki commented on #60
@Ht-zhang-xianyu
Would you try with espnet==202207 ?
We currently developping to support new version of dependencies, and this bug is caused by the version problem.

[2022-11-10 07:07] Masao-Someki commented on #47
Hi @unparalleled-ysj ,
Could you try this exportation with torch==1.13?
I tried to find the bug in espnet_onnx, but it seems that this issue is caused by the export function `torch.onnx.export` .
I confirmed that this issue is fixed in torch==1.13

[2022-11-10 07:39] sciai-ai commented on #59
Still get an error after modfying the code

<img width="915" alt="image" src="https://user-images.githubusercontent.com/52277510/201028895-0946e0c3-8026-4cb0-9a9c-2419222a16f4.png">

<img width="912" alt="image" src="https://user-images.githubusercontent.com/52277510/201028997-58e50320-768f-4e01-8fba-943003b890b4.png">

[2022-11-11 09:12] Ht-zhang-xianyu commented on #60
It works, thanks

[2022-11-11 09:12] #60 closed

[2022-11-15 02:25] jinggaizi opened #63 ""indices element out of data bounds" while inferencing"
hi ,
   i try to inference wav as the document
       "import librosa
       from espnet_onnx import Speech2Text
       speech2text = Speech2Text(tag_name='<tag name>')
       y, sr = librosa.load('sample.wav', sr=16000)
       nbest = speech2text(y)"
but when run "nbest = speech2text(y)" , occur a error like
      "onnxruntime.capi.onnxruntime_pybind11_state.InvalidArgument: [ONNXRuntimeError] :

[2022-11-16 03:56] #47 closed

[2022-11-17 03:48] unparalleled-ysj opened #64 "torch.istft export to onnx format"
@Masao-Someki Hi Masao，if the model has torch.istft() operation, how to export it to onnx format, do you have relevant experience ?

[2022-11-17 23:54] Masao-Someki commented on #64
Hi @unparalleled-ysj , I have never tried to export the istft operation.
It seems that there are some discussion about supporting istft operation, so maybe we have to wait for the support.

[2022-11-17 23:57] Masao-Someki commented on #63
Hi @jinggaizi , you can set `max_seq_len` operation as the following:

[code]

[2022-11-20 14:35] #58 closed

[2022-11-20 14:35] #59 closed

[2022-11-25 15:05] 1nlplearner opened #65 "any advice to solve Pretrained PWGVocoder is currently not supported?"
any advice to solve Pretrained PWGVocoder is currently not supported?
thanks

[2022-11-27 10:01] Masao-Someki commented on #65
Hi @1nlplearner , I created a new PR #66, and we will support it in this PR.

[2022-11-27 13:49] 1nlplearner commented on #65
thanks for your reply, i meet another problem

[2022-11-28 03:18] v-yunbin commented on #32
which  pytorch version can avoid this bug?

[2022-11-28 06:08] v-yunbin opened #67 "Unknown model file format version"
1. exported model sucessfully
[code]
2. decode with exported model
[code]

[2022-11-28 08:25] unparalleled-ysj commented on #32
torch.version >= 1.11

[2022-11-28 08:34] 1nlplearner opened #68 "wav quality drop"
hi, I initial text2speech using my own am_model and vocoder and export onnx model, but sound quality drops significantly, I just modify hifigan inference code in [https://github.com/Masao-Someki/espnet_onnx/blob/feature/add_PWGVocoder/espnet_onnx/export/tts/models/vocoders/parallel_wavegan.py](url) because  hifigan code in repo ParalleWaveGAN does not support parameter x,
and i checked Espnet am a

[2022-11-29 11:10] 1nlplearner commented on #68
when i delete postprocess code in [https://github.com/Masao-Someki/espnet_onnx/blob/master/espnet_onnx/tts/tts_model.py](url) ，model can synthesis voice as pytorch inferencing